body{
    background-color: rgb(245, 240, 240);
}

.postFormAdmin{
   width:50%;
}
#navForm{
   width:50%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#addCartBtn{
    padding: 5;
    margin: 5;
}
#purchaseBtn{
    padding: 5;
    margin: 5;
}
#card-style{
    width: 13rem;
    display: inline-block;
    border-radius:10px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}
.input-group-text1 ion-icon{
    color: white;
   margin-top: 10;
   margin-left: 10;
}

ion-icon{
    cursor: pointer;
}
.strikeAmount{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}
.prawnsTrending{
    overflow-y:auto;
    white-space:nowrap;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.prawnsTrending::-webkit-scrollbar {
    display: none;
}
.modal-title{
    font-weight: bold;
}
#nmlLoginBtn,.modal-title{
    width: 40%;
    margin-left:30% ;
    margin-top: 10px;
    text-align: center;
}
/* Hide scrollbar for IE, Edge and Firefox */
.prawnsTrending {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
a{
    cursor: pointer;
    color:black;
}
a:hover{
    color: black;
    
}
#a:hover{
    text-decoration: none;
}
a:hover .card-img-top{
    background-color: rgba(0,0,0,0.5);
}
h3{
    text-align: center;
}
.dropdown{
    margin-left: 10px;
}
.w3-display-container{
    margin:2%;
   
    border-radius:10px;
}
.card-title{
    font-weight: bold;
}
.warning{
    font-weight: bold;
    color:red;
    text-align: center;
}
.card-text{
    width: 50%;
    font-size: 14px;
    color: grey;
}
#block{
    
    background-color: rgb(245, 240, 240);
    height: 30%;
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
    padding-top: 1%;
    padding-bottom: 1%;
    margin:10px 10px 0px 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}
.individualBill{
    background-color: rgb(245, 240, 240);
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
    padding-top: 1%;
    padding-bottom: 1%;
    margin:0px 10px 0px 10px;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}
.totalBlock{
    margin: 30px;

}
#singleItemsDisplay{
    height: 80%;
}
#textDescript{
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#textDescript::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#textDescript {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#secondary{
    display: block;
}
#left-button-spices,#right-button-spices,#left-button,#right-button{
    display: block;
}
footer {
    bottom:0;
  text-align: center;
  padding: 3px;
  background-color: #292b2c;
  color: white;
}
.postFormAdmin{
    width: 60%;
    margin-left: 20%;
    padding: 20;
}
.required-symbol{
    color: red;
}
#removeBtn{
    display:none;
}
#loaderBg{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150%;
    z-index: 1;
    position: absolute;
    position: fixed;
    display: none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin-top: 20%;
    margin-left: 50%;
    position: absolute;
    z-index: 1;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  #nextBtnInst{
      margin-top: 10px;
      width: 100%;
      height: 10%;
  }
  .customized{
    display:block;
 }
 .customizedInner{
    display:none;
 }
 .blockFooter{
    background-color: green;
    color:white;
    height: 6%;
    border-bottom: 0.5px solid grey;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
 }
 .footerTxt1{
     float:left;
 }
 .footerTxt2{
    float:right;
}
  /* .innerBody{
      background-color: white;
      margin: 3%;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
  } */
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media screen and (max-width: 767px) {   
    #secondary{
        display: none;
    }
    #left-button-spices,#right-button-spices,#left-button,#right-button{
        display: none;
    }
    #navForm{
        width:100%;
     }
     .customized{
        display:none;
     }
     .customizedInner{
        display:block;
     }
     .dropdown{
        margin-top: 10px;
    }
    #desktopRemBtn{
        display:none;
    }
    #removeBtn{
        display:inline;
        margin-left: 10px;
        margin-right: -10px;
        margin-top: -10px;
    }
    #block{
        height: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .totalBlock{
        margin: 10px;
    }
    #card-style{
        width: 11rem;
    }
    #singleItemsDisplay{
        height: 50%;
    }
}
