body{
    background-color: rgb(245, 240, 240);
}

form{
   width:50%;
}
#card-style{
    width: 13rem;
    display: inline-block;
    border-radius:10px;
}
.input-group-text1 ion-icon{
    color: white;
   margin-top: 10;
   margin-left: 10;
}
ion-icon{
    cursor: pointer;
}
.prawnsTrending{
    overflow-x:auto;
    white-space:nowrap;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.prawnsTrending::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.prawnsTrending {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
a{
    color:black;
}
a:hover{
    color: black;
}
a:hover .card-img-top{
    background-color: rgba(0,0,0,0.5);
}
h3{
    text-align: center;
}
.w3-display-container{
    margin:2%;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-radius:10px;
}
.card-title{
    font-weight: bold;
}
.card-text{
    width: 50%;
    font-size: 14px;
    color: grey;
}
#block{
    
    background-color: rgb(245, 240, 240);
    height: 25%;
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
    padding-top: 2%;
    padding-bottom: 2%;
}
.totalBlock{
    margin: 5%;

}
#textDescript{
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#textDescript::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#textDescript {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#secondary{
    display: block;
}
#left-button-spices,#right-button-spices,#left-button,#right-button{
    display: block;
}
@media screen and (max-width: 767px) {   
    #secondary{
        display: none;
    }
    #left-button-spices,#right-button-spices,#left-button,#right-button{
        display: none;
    }
}
